<style>
</style>

<svelte:head>
	<title>My shop svelte(sapper) edition</title>
</svelte:head>

<h1>Great success!</h1>

<figure>
	<figcaption>HIGH FIVE!</figcaption>
</figure>

<p><strong>Try editing this file (src/routes/index.svelte) to test live reloading.</strong></p>
