<script>
    import { onMount, onDestroy } from 'svelte'
    import {cart} from '../stores/cart.js'
    let val = []
     const unsubscribe = cart.subscribe(value => {
         console.log('value:', value)
          val = value
     });
    function buy() {
        fetch(`http://localhost:1313/buy`, {
            method: 'POST',
            body: JSON.stringify({data: val}),
        })
    }
    onDestroy(() => {
        unsubscribe()
        console.log('cart component destroyed')
    })
</script>

<style>
    .cart {
    } 
</style>

<div>
    <div class="cart">
        <div>{val.length}</div>
        {#each val as item}
            <div>{item.id}</div>
            <div>{item.description}</div>
            <div>{item.brand}</div>
            <div>{item.size}</div>
        {/each}
    </div>
    <button on:click={buy} class="buy">buy</button>
</div>


