<script>
    import { cart } from '../stores/cart.js'
    import { onDestroy } from 'svelte'
	export let segment;
    let cartCount = []
    const unsubscribe = cart.subscribe(value => {
        cartCount = value
    })
    onDestroy(() => {
        unsubscribe()
        console.log('nav destroyed')
    })
</script>

<style>
  nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style: none;
    display: flex;
  }
  ul li {
    margin-right: 0.5rem;
  }
  a {
    text-decoration: none;
  }
  ul li a:hover {
    text-decoration: underline;
  }
  ul li:last-of-type {
    margin-right:0;
  }
  .cart {
      text-decoration: none;
      border:none;
      cursor: pointer;
  }
  .cart:hover {
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25);
  }
</style>

<nav>
  <a href="/">My Shop</a>
    <a class="cart" href="/cart">cart: {cartCount.length}</a>
	<ul>
		<li><a rel="prefetch" class:selected='{segment === "men"}' href='men'>men</a></li>
		<li><a rel="prefetch" class:selected='{segment === "women"}' href='women'>women</a></li>
	</ul>
</nav>
