<script context="module">
	export async function preload({ params, query }) {
		// the `slug` parameter is available because
		// this file is called [slug].svelte
        console.log('params id:', params.slug)
		const res = await this.fetch(`http://localhost:1313/clothes/${params.slug}`);
		const data = await res.json();

        console.log('data', data)

		if (res.status === 200) {
			return { man: data };
		} else {
			this.error(res.status, data.message);
        } 
    }
</script>

<script>
	export let man;
  import { onDestroy } from 'svelte'
  import { cart } from '../../stores/cart.js'

  let val = []

  const unsubscribe = cart.subscribe(value => {
    console.log('value slug', value)
    val = value
  }); // logs '0'


    function addToCart() {
      cart.update(data => [...data, man])
    }

  onDestroy(()=> unsubscribe())
</script>

<style>
	/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
	.content :global(h2) {
		font-size: 1.4em;
		font-weight: 500;
	}
    .rect {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
    .meta {
        display: flex;
        flex-flow: column nowrap;
    }

    .content :global(button) {
        padding: 0.5rem 1rem;
        background: red;
    }

</style>

<svelte:head>
    <meta name="og:title" content={man.title}/>
    <meta name="og:type" content="clothes"/>
    <meta name="og:url" content="http://localhost:1313/clothes/{man.id}"/>
	<title>{man.description}</title>
</svelte:head>

<h1>{man.description}</h1>

<div class='content'>
    <div style="background:{man.color}" class="rect">
    </div>
    <div class="meta">
        <div>color: {man.color}</div>
        <div>size: {man.size}</div>
        <div>sex: {man.sex}</div>
        <div>brand: {man.brand}</div>
    </div> 
    <button on:click={addToCart}>add to cart</button>
</div>
