<script context="module">
	export function preload({ params, query }) {
		return this.fetch(`http://localhost:1313/clothes`).then(r => r.json()).then(men => {
        console.log('men', men)
			return { men };
		});
	}
</script>

<script>
	export let men;
</script>

<style>
	ul {
		margin: 0 0 1em 0;
		line-height: 1.5;
	}
</style>

<svelte:head>
	<title>Clothes</title>
</svelte:head>

<h1>Men clothes</h1>

<ul>
	{#each men as man}
		<!-- we're using the non-standard `rel=prefetch` attribute to
				tell Sapper to load the data for the page as soon as
				the user hovers over the link or taps it, instead of
				waiting for the 'click' event -->
        <li><a rel='prefetch' href='men/{man.id}'>{man.brand}:{man.price}</a></li>
	{/each}
</ul>
